<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <h2>Para acceder al carrito</h2>

        <div class="register-buttons">
            <a href="../users/login"> <button value="Confirmar" class="cart-button">Inicia sesion</button></a>
            <a href="../users/register"><button value="Borrar" class="cart-button">Registrate</button></a>
        </div>
        <div class="center">
            <img src="../images/kicks-bn.png" alt="Logo Kicks" class="logo-bn">
        </div>

        <br>





    </main>
    <%- include("../partials/footer")%>

</body>

</html>