<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>

<body class="body-error">
    <section class="error-message">
        <section class="error-message_container">
            <img src="/images/robot.webp" alt="Banner de ofertas" class="w100">
            <h1 class="animated"> ¡OOPS! ERROR 404</h1>
            <h3 class="error-title">Página no encontrada</h3>
            <p class="error-p">La página que intentas solicitar no fue encontrada o todavia no existe.</p>
            <p> Estamos trabajando en ello :)</p>
            <article class="error-button">
                <a href="/"> <button type="submit" class="boton-error">Volver al inicio</button></a>
            </article>
        </section>
    </section>
</body>

</html>