<footer>

    <section>

        <div class="main-footer" id="mainFooter">
            <h4 class="titulo footer-title ft1">INSTITUCIONAL <i class="fas fa-chevron-down none3 downArrow1"></i><i
                    class="fas fa-chevron-up none3 upArrow1"></i></h4>
            <article class="footer-article" id="footerArticle1">
                <div class="italic center padding">
                    <ul class="footer">
                        <li><a href="/products" class="linkfooter">Quienes somos</a></li>
                        <li><a href="/products" class="linkfooter">Politicas de privacidad</a></li>
                        <li><a href="/products" class="linkfooter">Terminos y condiciones</a></li>
                    </ul>
                </div>
            </article>
            <h4 class="titulo footer-title ft2">AYUDA <i class="fas fa-chevron-down none3 downArrow2"></i><i
                    class="fas fa-chevron-up none3 upArrow2"></i></h4>
            <article class="footer-article" id="footerArticle2">
                <div class="italic center padding">
                    <ul class="footer">
                        <li><a href="/products" class="linkfooter">Preguntas frecuentes</a></li>
                        <li><a href="/products" class="linkfooter">Sucursales</a></li>
                        <li><a href="/products" class="linkfooter">Pagos/Entregas</a></li>
                    </ul>
                </div>
            </article>
            <h4 class="titulo footer-title ft3">CONTACTO <i class="fas fa-chevron-down none3 downArrow3"></i><i
                    class="fas fa-chevron-up none3 upArrow3"></i></h4>
            <article class="footer-article" id="footerArticle3">
                <div class="italic center padding">
                    <ul class="footer">
                        <li><a href="/products" class="linkfooter">0800-888-8888</a></li>
                        <li><a href="/products" class="linkfooter">Lunes a Sábado de 9 a 18 hs</a></li>
                        <li><a href="/products" class="linkfooter">Envianos un
                                mensaje</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>

        <br />

        <div>
            <p class="center1">Copyright © 2020 KICKS S.R.L.</p>
            <div class="redes">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
    </section>

</footer>